<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Customer List</title>
    </head>
    <body>
        <h3>Customers</h3>
        <br></br>
        {this.firstname}
        {this.lastname}
        {this.username}
        {this.password}
        {this.email}
    </body>
</html>